:root{
     --branco-principal: #FFFFFF;
     --cinza-sedundario: #c0c0c0;
     --botao-azul: #167BF7;
     --cor-de-fundo: #00030C;
     --fonte-principal:'inter';


}
body{
    background-color: var(--cor-de-fundo);
     color: var (--branco-principal);
     font-family: var(--fonte_principal);
     font-size:16xp;
     font-weight: 400;

}

*{
   margin:0;
   padding: 0;

}

.principal {
    background-image: url("img/background.png");
    background-repeat: no-repeat;
    background-size: contain;

}

.container {
    height: 100%;
    display: grid;
    grid-template-columns: 50% 50%;

}

.container__botao {
    background-color: var(--botao-azul);
    border-radius: 16px;
    padding: 1em;
    color: var(--branco-principal);
    display: block;
     text-decoration: none;
}

.botao_secundario{
   background-color: transparent;
   border: 2px solid var(--branco-principal)
}

.container__aviso{
     font-size:12xp;
     color: var(--cinza-segundario);
}
